.city-detail-container {
  background: -webkit-gradient(linear,left bottom,left top,from(#86dbff),to(#e0c3fc));
  background: linear-gradient(to top,#86dbff 0,#e0c3fc 100%);
  width: 100vw;
  min-height: calc(100vh - 71px);
  position: relative;
}

.detail-card-wrapper {
  width: 70%;
  background: #fff;
  border-radius: 10px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.detail-card {
  width: 100%;
  min-height: 80vh;
  padding: 20px 30px;
  letter-spacing: .3rem;
  text-transform: uppercase;
}

.city-detail {
  background: linear-gradient(to bottom, #7777ab, #a183b1, #c590b4, #e1a2b5, #f6b6b7);
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.weather-detail {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.city-detail .row {
  height: 100%;
}

.weather-detail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.city-name {
  display: flex;
  justify-content: center;
}

.weather-detail {
  flex-direction: column;
}

.insight-item {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
}

.insight-logo-img {
  width: 35px;
  height: 35px;
}

.insight-title {
  font-size: 0.9em;
}

.insight-value {
  font-size: 1.5em;
  font-weight: bold;
  padding-left: 10px;
}

.temp-detail .temp-value {
  font-size: 5em;
  letter-spacing: .5rem;
}

.temp-detail .temp-type {
  font-size: 1.6em;
  margin-left: 70px;
}

.city-name {
  height: 100%;
}

.city-title {
  margin-top: 20%;
  padding-bottom: 10px;
}

.city-title h2 {
  position: relative;
  border-bottom: 5px solid #fff;
}
